.calibri {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif !important;
  /* font-size: 24px; */
  font-style: normal !important;
  font-variant: normal !important;
  /* font-weight: 700; */
  line-height: 26.4px;
}
